/* common styles */

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-primary {
    border-radius: 48px;
    border: none;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 40px;
}

.btn-secondary {
    border-radius: 48px;
    border: none;
    background-color: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 40px;
}

/* navigation bar styles */

nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 35px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.website-logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.website-logo img {
    height: 40px;
    width: 80px;
}

.website-logo h3 {
    font-size: 40px;
    font-weight: 700;
}

.website-logo span {
    color: #FF42A5;
}


.website-nav {
    display: flex;
    align-items: center;
    gap: 30px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.website-nav>ul {
    display: flex;
    gap: 30px;
}

.website-nav li {
    list-style: none;
}

.follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* banner styles */

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 120px 200px;

}

.banner-content {
    width: 50%;
}

.banner-title {
    margin-bottom: 20px;
}

.banner-image img {
    width: 100%;
}

.banner h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: normal;
}

#goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-weight: 800;
    line-height: normal;
}

.button {
    display: flex;
    gap: .8rem;
}

.banner ul {
    margin-bottom: 40px;
}

.banner li {
    list-style: none;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 15px;
}

/* online games styles */

.online-games {
    margin: 100px 0px;
}

.online-games-header {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.online-games-header span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}

.online-games-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.online-games-card {
    width: 300px;
}

.online-games-card img {
    width: 100%;
}

.online-games-images-caption {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

/* play instant styles */

.play-instant {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
}

.play-instant h3 {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.play-instant span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: right;
    display: block;
}

.play-instant p {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

#position-img {
    position: relative;
    top: -300px;
    right: 200px;
}